@model PagedList.IPagedList<Models.EF.Product>
@using PagedList.Mvc

@{
    ViewBag.Title = "Thực đơn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div id="top-menu" class="btn-group">
        <a href="@Url.Action("Index", new { categoryId = "01" })" role="button" class="btn btn-outline-primary">Khai vị</a>
        <a href="@Url.Action("Index", new { categoryId = "02" })" role="button" class="btn btn-outline-primary">Món chính</a>
        <a href="@Url.Action("Index", new { categoryId = "03" })" role="button" class="btn btn-outline-primary">Tráng miệng</a>
    </div>

    <div class="row">

        @foreach (var product in Model)
        {
            <div class="col-6 col-md-4 col-lg-3 col-xl-2 container-product ">
                <div class="item">
                    <div class="image-product">
                        <img src="@product.picture" />
                    </div>
                    <div class="description">
                        <div class="name-product">
                            <h6>@product.productName</h6>
                        </div>
                        <div class="bottom-product">
                            <span>@(product.price * 1000) VND</span>
                            <div class="select-product">
                                <button class="btn btn-info btn-sm btn-select-product">
                                    <span class="glyphicon glyphicon-check"></span> Chọn
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>

    <div class="container-paged-list">
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
        <br />
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, ViewBag.CategoryId }))
    </div>
</div>

