
@{
    ViewBag.Title = "Thanh toán";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div>
        <h3 class="text-center" style="color: red">Thông tin đơn hàng</h3>
    </div>

    <div id="container-pay" class="row">
        <div id="invoice-infomation" class="col-sm-12 col-md-5">
            <h5 class="text-muted">Mã hóa đơn: @ViewBag.Invoice.id</h5>
            <h5 class="text-muted">Số bàn: @ViewBag.tableID</h5>
            <h5 class="text-muted">Tên khách: @ViewBag.customerName</h5>
            <h5 class="text-muted">Số điện thoại: @ViewBag.customerPhone</h5>
        </div>

        <div class="col-sm-12 col-md-7">
            <table id="table-pay-details" class="table table-responsive-sm">
                <thead>
                    <tr>
                        <th>Tên món</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                        <th>Thành tiền</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.ListInvoiceDetails)
                    {
                        <tr>
                            <td>@item.Product.productName</td>
                            <td>@item.quantity</td>
                            <td>@item.Product.price</td>
                            <td data-values="@(item.quantity * item.Product.price)"><span class="price-product"></span></td>
                        </tr>
                    }
                </tbody>
            </table>
            <h5 id="totalPricePay" style="color: red;"></h5>
        </div>
    </div>

</div>

