@model PagedList.IPagedList<Models.EF.Table>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Hóa đơn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div id="add-invoice">
        <a class="fas fa-plus-circle fa-2x" role="button" data-toggle="modal" data-target="#modalAddInvoice"></a>
        <span>Thêm hóa đơn</span>
    </div>

    <!-- The Modal -->
    <div class="modal" id="modalAddInvoice">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Thêm hóa đơn</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">

                    @using (Html.BeginForm("AddInvoice", "Pay", FormMethod.Post))
                    {
                        <div class="form-group">
                            <label for="customerName">Tên khách:</label>
                            <input type="text" class="form-control" id="customerName" placeholder="Nhập tên khách" name="customerName" required>
                        </div>
                        <div class="form-group">
                            <label for="customerPhone">Số điện thoại:</label>
                            <input type="text" class="form-control" id="customerPhone" placeholder="Nhập số điện thoại" name="customerPhone" required>
                        </div>
                        <button type="submit" class="btn btn-primary" style="width: 100%">OK</button>
                    }

                </div>

            </div>
        </div>
    </div>

    <div id="container-pay">

        <div>
            <table id="table-pay" class="table table-responsive-md">
                <thead>
                    <tr>
                        <th>Mã hóa đơn</th>
                        <th>Tên khách</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in ViewBag.ListInvoice)
                    {
                        <tr>
                            <td>@item.id</td>
                            <td>@item.customerName</td>
                            <td><a href="@Url.Action("PayDetails", new { invoiceID = item.id})" class="fas fa-info-circle fa-2x" role="button"></a></td>
                            <td><butto type="button" class="btn btn-success btn-open-modal" data-values="@item.id" data-toggle="modal" data-target="#modalAddTable">Thêm bàn</butto></td>
                        </tr>
                    }
                </tbody>
            </table>

            <!-- The Modal -->
            <div class="modal" id="modalAddTable">
                <div class="modal-dialog modal-dialog-centered modal-lg">
                    <div class="modal-content">

                        <input id="input-tableId" type="hidden" value="" />

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Thêm bàn</h4>
                            <button id="btnCloseModalPay" type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div id="modalBodyPay" class="modal-body">

                            <!-- List table -->
                            <div class="row">
                                @foreach (var table in Model)
                                {
                                    <div class="col-6 col-sm-4 col-lg-3">
                                        <div class="container-table">

                                            @if (table.status == true)
                                            {
                                                <a href="/Order/Index?tableID=@table.id">
                                                    <div class="content-table table-have-people">
                                                        <span>@table.id</span>
                                                    </div>
                                                </a>
                                            }
                                            else
                                            {
                                                <div class="content-table table-empty">
                                                    <span data-values="@table.id">@table.id</span>
                                                </div>
                                            }

                                        </div>
                                    </div>
                                }
                            </div>

                            <!-- Page list -->
                            <div id="container-paged-list">
                                Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                                <br />
                                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
                            </div>

                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button id="btn-select-table" type="button" class="btn btn-primary" data-dismiss="modal">Xong</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

