@model PagedList.IPagedList<Models.EF.User>
@using PagedList.Mvc
@{
    ViewBag.Title = "Người dùng";
    ViewBag.SubTitle = "Quản lý người dùng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table">
    <thead>
        <tr>
            <th>Mã</th>
            <th>Họ và tên</th>
            <th>CMND</th>
            <th>Ngày sinh</th>
            <th>Giới tính</th>
            <th>Địa chỉ</th>
            <th>Điện thoại</th>
            <th>Tài khoản</th>
            <th>Mật khẩu</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="u@(item.id)">
                <td>@item.id</td>
                <td>@item.name</td>
                <td>@item.cmnd</td>
                <td class="birthday" data-birthday="@item.birthday"></td>
                <td class="user-sex" data-sex="@item.sex"></td>
                <td>@item.address</td>
                <td>@item.phoneNumber</td>
                <td>@item.accountName</td>
                <td>@item.accountPassword</td>
                <td><span class="glyphicon glyphicon-trash btn-remove-user" data-id="@item.id" style="color: red"></span></td>
            </tr>
        }
    </tbody>
</table>

<div class="container-paged-list">
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    <br />
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page, ViewBag.CategoryId }))
</div>

<script>
    $('.custom-navbar').html(`<a href="@Url.Action("Create", "User")" class="btn btn-info btn-sm">
                                    <span class="glyphicon glyphicon-plus"></span> Thêm
                              </a>`);
</script>


