
@{
    ViewBag.Title = "Nhà Bếp";
    ViewBag.SubTitle = "Nhà bếp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="container-kitchen">

    <table id="table-kitchen" class="table">
        <thead>
            <tr>
                <th>Số bàn</th>
                <th>Tên món</th>
                <th>Số lượng</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.ListOrder)
            {
                <tr>
                    <td>@item.tableID</td>
                    <td>@item.Product.productName</td>
                    <td>@item.quantity</td>
                    <td><a href="@Url.Action("Complete" ,new { invoiceDetailsID = item.id, productId = item.Product.id, quantity =  @item.quantity })" class="glyphicon glyphicon-ok"></a></td>
                </tr>
            }
        </tbody>
    </table>

</div>

