<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/Content/glyphicons.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />

    <link href="~/Content/fontawesome.min.css" rel="stylesheet" />
    <link href="~/Content/brands.min.css" rel="stylesheet" />
    <link href="~/Content/solid.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
</head>

<body>
    <header>
        <div class="top-nav">
            <div class="container">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <a class="navbar-brand text-uppercase" href="index.html">Cafe In</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse justify-content-center pr-md-4" id="navbarSupportedContent">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item">
                                <a id="nav-link-home" class="nav-link" href="@Url.Action("Index", "Kitchen")">Nhà bếp</a>
                            </li>
                            <li class="nav-item">
                                <a id="nav-link-table" class="nav-link" href="@Url.Action("Index", "Order")">Xem bàn</a>
                            </li>
                            <li class="nav-item">
                                <a id="nav-link-gallery" class="nav-link" href="@Url.Action("Index","Gallery")">Menu</a>
                            </li>
                            <li class="nav-item">
                                <a id="nav-link-cart" class="nav-link" href="@Url.Action("Index", "Cart")">Giỏ hàng</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </header>
    <!-- //Navigation -->
    <section class="inner_banner">
        <div class="dot1">
        </div>
    </section>

    @RenderBody()


    <script src="~/Scripts/custom.js"></script>
    @RenderSection("scripts", required: false)

</body>

</html>
