<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/Content/glyphicons.css" rel="stylesheet" />
    <link href="~/Content/simple-sidebar.css" rel="stylesheet" />

    <link href="~/Content/fontawesome.min.css" rel="stylesheet" />
    <link href="~/Content/brands.min.css" rel="stylesheet" />
    <link href="~/Content/solid.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

    <script src="~/Scripts/jquery.signalR-2.4.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
</head>

<body>

    <div class="d-flex" id="wrapper">

        <!-- Sidebar -->
        <div class="bg-light border-right" id="sidebar-wrapper">
            <div class="sidebar-heading"><span>Quản lý</span></div>
            <div class="list-group list-group-flush">
                <a href="@Url.Action("Index", "Menu")" class="list-group-item list-group-item-action bg-light"><i class="fas fa-book"></i> Thực đơn</a>
                <a href="@Url.Action("Index", "Kitchen")" class="list-group-item list-group-item-action bg-light"><i class="fas fa-utensils"></i> Nhà bếp</a>
                <a href="@Url.Action("Index", "Order")" class="list-group-item list-group-item-action bg-light"><i class="fas fa-concierge-bell"></i> Gọi món</a>
                <a href="@Url.Action("Index", "Invoice")" class="list-group-item list-group-item-action bg-light"><i class="fas fa-file-invoice-dollar"></i> Hóa đơn</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">

            <nav id="nav-bar" class="navbar navbar-expand-lg navbar-light border-bottom">

                <div class="navbar-brand">
                    <i class="glyphicon glyphicon-transfer" role="button" id="menu-toggle"></i>
                    <h6 class="sub-title">@ViewBag.SubTitle</h6>
                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="border: none">
                    <span class="glyphicon glyphicon-tasks"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="">Đăng nhập</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <div id="body-layout" class="container-fluid">
                @RenderBody()
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>

    <script src="~/Scripts/custom.js"></script>
    @RenderSection("scripts", required: false)

    <!-- Menu Toggle Script -->
    <script>
        $("#menu-toggle").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    </script>

</body>

</html>