<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Style.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/PagedList.css" rel="stylesheet" />
    <link href="~/Content/glyphicons.css" rel="stylesheet" />

    <link href="~/Content/fontawesome.min.css" rel="stylesheet" />
    <link href="~/Content/brands.min.css" rel="stylesheet" />
    <link href="~/Content/solid.min.css" rel="stylesheet" />

    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>

<body>

    <header class="container-fluid header">

        <div class="banner">
            <div class="top-banner">
                <div id="init-top-banner" class="container">
                    <div class="init-top-banner">
                        <span></span>
                    </div>
                    <div class="init-top-banner">
                        <a class="nav-link" href="#">Đăng nhập</a>
                    </div>
                </div>
            </div>
            <hr>
        </div>

        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#"><img src="~/images/icon/android-9-pie-logo.png" alt=""></a>
                <button id="toggler-custom" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto nav-center">
                        <li class="nav-item"></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Table")"><img src="~/images/icon/table.png">Xem bàn</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Kitchen")"><img src="~/images/icon/kitchen.png">Nhà bếp</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Order")"><img src="~/images/icon/order.png">Gọi món</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index","Pay")"><img src="~/images/icon/pay.png">Thanh toán</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>

    </header>

    <div style="padding-top: 50px; padding-bottom: 50px;">
        @RenderBody()
    </div>

    <hr />

    <footer class="footer">

    </footer>

    <script src="~/Scripts/custom.js"></script>
    @RenderSection("scripts", required: false)
</body>

</html>